<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Bootcamp Tec | Temperature Prediction</title>
</head>

<!-- page header -->
<body>
    <div class="jumbotron text-center">
        <h1 class="display-3">Temperature Prediction</h1>
        <p class="lead">This model will predict the temperature for future years based on a model created with the information from past years.
        </p>
        <hr class="my-2">
        <p>Go and select the Year, Month, Day and City you would like to consult!</p>
    </div>

<!-- dropdown selectors -->
    <div class="container text-center">

            <form action="/predict_temperature/" method="POST">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Year</label>
                <select class="form-control" id="exampleFormControlSelect1" name="input1">
                  <option>--Select Year--</option>
                  <option>2025</option>
                  <option>2030</option>
                  <option>2035</option>
                  <option>2040</option>
                  <option>2045</option>
                  <option>2050</option>
                </select>
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect1">Month</label>
                <select class="form-control" id="exampleFormControlSelect1" name="input2">
                  <option>--Select Month--</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                </select>
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect1">Day</label>
                <select class="form-control" id="exampleFormControlSelect1" name="input3">
                  <option>--Select Day--</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                  <option>19</option>
                  <option>20</option>
                  <option>21</option>
                  <option>22</option>
                  <option>23</option>
                  <option>24</option>
                  <option>25</option>
                  <option>26</option>
                  <option>27</option>
                  <option>28</option>
                  <option>29</option>
                  <option>30</option>
                  <option>31</option>
                </select>
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect1">City</label>
                <select class="form-control" id="exampleFormControlSelect1" name="input4">
                  <option>--Select City--</option>
                  <option>Acapulco</option>
                  <option>Abu Dhabi</option>
                  <option>Amsterdam</option>
                  <option>Apodoca</option>
                  <option>Atlanta</option>
                  <option>Albuquerque</option>
                  <option>Austin</option>
                  <option>Acuña</option>
                  <option>Bangalore</option>
                  <option>Baltimore</option>
                  <option>Berlin</option>
                  <option>Bombay</option>
                </select>
              </div>

              <button type="submit" class="btn btn-primary">PREDICT</button>
            </form>

        <br>
        <h1>Predicted temperature for {{city}} is: {{res}} C° on {{day}}/{{month}}/{{year}}</h1>
    </div>


    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <!-- D3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</body>

</html>